@using Etch.OrchardCore.CivicCookieControl.Settings
@using Etch.OrchardCore.CivicCookieControl.ViewModels
@using OrchardCore.Flows.Models

@model CivicCookieControlSettingsViewModel

@inject IContentManager ContentManager
@inject OrchardCore.ContentManagement.Metadata.IContentDefinitionManager ContentDefinitionManager
@inject OrchardCore.ContentManagement.Display.IContentItemDisplayManager ContentItemDisplayManager

@{
    var widgetTemplatePlaceholderId = Html.Id("widgetTemplatePlaceholder");
}

<script asp-name="jQuery-ui" at="Foot"></script>

<script asp-src="~/OrchardCore.Flows/Scripts/flows.edit.min.js"
        debug-src="~/OrchardCore.Flows/Scripts/flows.edit.js" at="Foot" depends-on="admin"></script>
<style asp-src="~/OrchardCore.Widgets/Styles/widgetslist.edit.min.css"
       debug-src="~/OrchardCore.Widgets/Styles/widgetslist.edit.css"></style>
<style asp-src="~/OrchardCore.Flows/Styles/flows.edit.min.css"
       debug-src="~/OrchardCore.Flows/Styles/flows.edit.css"></style>

<ul class="nav nav-tabs flex-column flex-md-row mb-3" role="tablist">
    <li class="nav-item pr-md-2">
        <a class="nav-item nav-link active" href="#tab-license" data-toggle="tab" role="tab" aria-controls="tab-license" aria-selected="false">@T["License"]</a>
    </li>
    <li class="nav-item pr-md-2">
        <a class="nav-item nav-link" href="#tab-behaviour" data-toggle="tab" role="tab" aria-controls="tab-behaviour" aria-selected="false">@T["Behaviour"]</a>
    </li>
    <li class="nav-item pr-md-2">
        <a class="nav-item nav-link" href="#tab-text" data-toggle="tab" role="tab" aria-controls="tab-text" aria-selected="false">@T["Text"]</a>
    </li>
    <li class="nav-item pr-md-2">
        <a class="nav-item nav-link" href="#tab-cookies" data-toggle="tab" role="tab" aria-controls="tab-cookies" aria-selected="false">@T["Cookies"]</a>
    </li>
    <li class="nav-item pr-md-2">
        <a class="nav-item nav-link" href="#tab-statement" data-toggle="tab" role="tab" aria-controls="tab-statement" aria-selected="false">@T["Statement"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-item nav-link" href="#tab-appearance" data-toggle="tab" role="tab" aria-controls="tab-appearance" aria-selected="false">@T["Appearance"]</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade show active" id="tab-license">
        <div class="form-group row" asp-validation-class-for="ApiKey">
            <div class="col-lg">
                <label asp-for="ApiKey">@T["API Key"]</label>
                <input asp-for="ApiKey" class="form-control" autocomplete="off" />
                <span asp-validation-for="ApiKey"></span>
                <span class="hint">@T["API key for your CIVIC Cookie Control license."]</span>
            </div>
        </div>

        <div class="form-group row" asp-validation-class-for="Product">
            <div class="col-lg">
                <label asp-for="Product">@T["Product"]</label>
                <select asp-for="Product" class="form-control col-sm-6">
                    <option value="">Select product license</option>
                    <option value="COMMUNITY">Community</option>
                    <option value="PRO">Pro</option>
                    <option value="PRO_MULTISITE">Pro multi site</option>
                </select>
                <span asp-validation-for="Product"></span>
                <span class="hint">@T["Product of your CIVIC Cookie Control license."]</span>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="tab-behaviour">
        <div class="form-group row" asp-validation-class-for="InitialState">
            <div class="col-lg">
                <label asp-for="InitialState">@T["Initial State"]</label>
                <select asp-for="InitialState" class="form-control col-sm-6">
                    <option value="">Select initial state</option>
                    <option value="open">Open</option>
                    <option value="closed">Closed</option>
                    <option value="notify">Notify</option>
                    <option value="top">Top</option>
                    <option value="box">Box</option>
                </select>
                <span asp-validation-for="InitialState"></span>
                <span class="hint">@T["Determines the initial display state of Cookie Control."]</span>
            </div>
        </div>

        <div class="form-group" asp-validation-class-for="NotifyOnce">
            <label>Notify Once</label>
            <div class="custom-control custom-checkbox">
                <input asp-for="NotifyOnce" type="checkbox" class="custom-control-input" checked="@Model.NotifyOnce" />
                <label class="custom-control-label" asp-for="NotifyOnce">
                    <span class="hint">— Determines whether the module only shows its initial state once, or if it continues to replay on subsequent page loads until the user has directly interacted with it.</span>
                </label>
            </div>
        </div>

        <div class="form-group" asp-validation-class-for="RejectButton">
            <label>Reject Button</label>
            <div class="custom-control custom-checkbox">
                <input asp-for="RejectButton" type="checkbox" class="custom-control-input" checked="@Model.RejectButton" />
                <label class="custom-control-label" asp-for="RejectButton">
                    <span class="hint">— Determines whether the module shows a reject button alongside the accept button on the notification bar, or alongside the 'accept recommended settings' button when the panel is open.</span>
                </label>
            </div>
        </div>

        <div class="form-group row" asp-validation-class-for="AcceptBehaviour">
            <div class="col-lg">
                <label asp-for="AcceptBehaviour">@T["Accept Behaviour"]</label>
                <select asp-for="AcceptBehaviour" class="form-control col-sm-6">
                    <option value="">Select accept behaviour</option>
                    <option value="all">All</option>
                    <option value="recommended">Recommended</option>
                </select>
                <span asp-validation-for="AcceptBehaviour"></span>
                <span class="hint">@T["This property is used to control what will happen when the user clicks on either of the 'Accept' or 'Accept recommended settings' buttons."]</span>
            </div>
        </div>

        <div class="form-group" asp-validation-class-for="CloseOnGlobalChange">
            <label>Close on Global Change</label>

            <div class="custom-control custom-checkbox">
                <input asp-for="CloseOnGlobalChange" type="checkbox" class="custom-control-input" checked="@Model.CloseOnGlobalChange" />
                <label class="custom-control-label" asp-for="CloseOnGlobalChange">
                    <span class="hint">— Determines whether Cookie Control main window will remain open when the user clicks on either of the accept or reject buttons.</span>
                </label>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="tab-text">
        <div class="form-group row" asp-validation-class-for="Title">
            <div class="col-lg">
                <label asp-for="Title">@T["Title"]</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title"></span>
                <span class="hint">@T["Title displayed within cookie control dialog."]</span>
            </div>
        </div>

        <div class="form-group row" asp-validation-class-for="Intro">
            <div class="col-lg">
                <label asp-for="Intro">@T["Intro"]</label>
                <textarea asp-for="Intro" rows="5" class="form-control"></textarea>
                <span asp-validation-for="Intro"></span>
                <span class="hint">@T["Content displayed after title within cookie control dialog."]</span>
            </div>
        </div>

        <div class="form-group row" asp-validation-class-for="NecessaryTitle">
            <div class="col-lg">
                <label asp-for="NecessaryTitle">@T["Necessary Title"]</label>
                <input asp-for="NecessaryTitle" class="form-control" />
                <span asp-validation-for="NecessaryTitle"></span>
                <span class="hint">@T["Title displayed for necessary cookies section."]</span>
            </div>
        </div>

        <div class="form-group row" asp-validation-class-for="NecessaryDescription">
            <div class="col-lg">
                <label asp-for="NecessaryDescription">@T["Necessary Description"]</label>
                <textarea asp-for="NecessaryDescription" rows="5" class="form-control"></textarea>
                <span asp-validation-for="NecessaryDescription"></span>
                <span class="hint">@T["Explanation of necessary cookies."]</span>
            </div>
        </div>

        <div class="form-group row" asp-validation-class-for="ThirdPartyTitle">
            <div class="col-lg">
                <label asp-for="ThirdPartyTitle">@T["Third Party Title"]</label>
                <input asp-for="ThirdPartyTitle" class="form-control" />
                <span asp-validation-for="ThirdPartyTitle"></span>
                <span class="hint">@T["Title displayed for third party cookies section."]</span>
            </div>
        </div>

        <div class="form-group row" asp-validation-class-for="ThirdPartyDescription">
            <div class="col-lg">
                <label asp-for="ThirdPartyDescription">@T["Third Party Description"]</label>
                <textarea asp-for="ThirdPartyDescription" rows="5" class="form-control"></textarea>
                <span asp-validation-for="ThirdPartyDescription"></span>
                <span class="hint">@T["Explanation of third party cookies."]</span>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="tab-cookies">
        <div class="form-group" asp-validation-class-for="NotifyOnce">
            <label>Subdomains</label>
            <div class="custom-control custom-checkbox">
                <input asp-for="Subdomains" type="checkbox" class="custom-control-input" checked="@Model.Subdomains" />
                <label class="custom-control-label" asp-for="Subdomains">
                    <span class="hint">— Determines whether Cookie Control's own cookie is saved to the top level domain, and therefore accessible on all sub domains, or disabled and saved only to the request host..</span>
                </label>
            </div>
        </div>

        <h5>@T["Cookies"] <span class="hint">@T["— Collection of cookies used on the site."]</span></h5>

        <div class="form-group">
            <div id="@widgetTemplatePlaceholderId" class="widget-template-placeholder">
                @{ 
                    var htmlFieldPrefix = this.ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix; 
                }

                @foreach (var widget in Model.Cookies)
                {
                    var prefix = Guid.NewGuid().ToString("n");
                    <div class="widget-template">
                        @{
                            dynamic widgetEditor = await ContentItemDisplayManager.BuildEditorAsync(widget, Model.Updater, false, "", prefix);

                            widgetEditor.PrefixesName = Html.NameFor(x => x.Prefixes);
                            widgetEditor.ContentTypesName = Html.NameFor(x => x.ContentTypes);
                            widgetEditor.TargetId = widgetTemplatePlaceholderId;

                            widgetEditor.Metadata.Alternates.Add("Widget_Edit__Bag");
                        }

                        @await DisplayAsync(widgetEditor)

                        @{ this.ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix = htmlFieldPrefix; }
                        <input type="hidden" asp-for="Prefixes" value="@prefix" />
                        <input type="hidden" asp-for="ContentTypes" value="@widget.ContentType" />
                    </div>
                }
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @T["Add Cookie"]
                </button>
                <div class="dropdown-menu">
                    @foreach (var type in Model.CookieContentTypes)
                    {
                        <a  class="dropdown-item add-widget btn-sm"
                            data-target-id="@widgetTemplatePlaceholderId"
                            data-prefixes-name="@Html.NameFor(x => x.Prefixes)"
                            data-contenttypes-name="@Html.NameFor(x => x.ContentTypes)"
                            data-widget-type="@type.Name"
                            data-flowmetadata="false"
                            href="javascript:;">@type.DisplayName</a>
                    }
                </div>
            </div>

            @* Rendered only once in case multiple BagPart (or FlowPart) are on the page *@
            @if (Context.Items["CivicCookieSettings.Edit"] == null)
            {
                Context.Items["CivicCookieSettings.Edit"] = new object();
                <input type="hidden" id="buildEditorUrl" value="@Url.Action("BuildEditor", "Admin", new { area = "OrchardCore.Flows" })" />
            }

            @* Rendered only once per type to initialize the scripts its editor will need *@
            @foreach (var type in Model.CookieContentTypes)
            {
                @if (Context.Items["CivicCookieSettings.Edit:" + type.Name] == null)
                {
                    Context.Items["CivicCookieSettings.Edit:" + type.Name] = new object();

                    // Render a mock widget so that its resources are included in the page
                    var contentItem = await ContentManager.NewAsync(type.Name);
                    await DisplayAsync(await ContentItemDisplayManager.BuildEditorAsync(contentItem, Model.Updater, true, "", Guid.NewGuid().ToString("n")));
                }
            }

            <script at="Foot">
            $("#@widgetTemplatePlaceholderId").sortable({
                handle: ".widget-editor-header",
                cursor: "move",
                stop: function () {
                    $(document).trigger('contentpreview:render');
                }
            });
            </script>
        </div>
    </div>

    <div class="tab-pane fade" id="tab-statement">
        <p class="hint">@T["Statement will only show if all fields have a value."]</p>

        <div class="form-group row" asp-validation-class-for="StatementName">
            <div class="col-lg">
                <label asp-for="StatementName">@T["Name"]</label>
                <input asp-for="StatementName" class="form-control" />
                <span asp-validation-for="StatementName"></span>
                <span class="hint">@T["Text that you wish to call your terms by, for example Privacy Statement."]</span>
            </div>
        </div>

        <div class="form-group row" asp-validation-class-for="StatementDescription">
            <div class="col-lg">
                <label asp-for="StatementDescription">@T["Description"]</label>
                <textarea asp-for="StatementDescription" class="form-control"></textarea>
                <span asp-validation-for="StatementDescription"></span>
                <span class="hint">@T["Text description that introduces your Personal Information Policy."]</span>
            </div>
        </div>

        <div class="form-group row" asp-validation-class-for="StatementUrl">
            <div class="col-lg">
                <label asp-for="StatementUrl">@T["URL"]</label>
                <input asp-for="StatementUrl" class="form-control" />
                <span asp-validation-for="StatementUrl"></span>
                <span class="hint">@T["URL where your terms may be accessed."]</span>
            </div>
        </div>

        <div class="form-group row" asp-validation-class-for="StatementUpdated">
            <div class="col-lg">
                <label asp-for="StatementUpdated">@T["Updated"]</label>
                <input asp-for="StatementUpdated" class="form-control" maxlength="10" placeholder="dd/mm/yyyy" />
                <span asp-validation-for="StatementUpdated"></span>
                <span class="hint">@T["Date that your privacy statement was last issued, in the format of dd/mm/yyyy."]</span>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="tab-appearance">
        <div class="form-group row" asp-validation-class-for="Layout">
            <div class="col-lg">
                <label asp-for="Layout">@T["Layout"]</label>
                <select asp-for="Layout" class="form-control col-sm-6">
                    <option value="">Select layout</option>
                    <option value="slideout">Slideout</option>
                    <option value="popup">Popup</option>
                </select>
                <span asp-validation-for="Layout"></span>
                <span class="hint">@T["Determines the display type and behaviour of Cookie Control."]</span>
            </div>
        </div>

        <div class="form-group row" asp-validation-class-for="Position">
            <div class="col-lg">
                <label asp-for="Position">@T["Position"]</label>
                <select asp-for="Position" class="form-control col-sm-6">
                    <option value="">Select position</option>
                    <option value="left">Left</option>
                    <option value="right">Right</option>
                </select>
                <span asp-validation-for="Position"></span>
                <span class="hint">@T["Determines the side of the display Cookie Control will occupy."]</span>
            </div>
        </div>

        <div class="form-group row" asp-validation-class-for="Theme">
            <div class="col-lg">
                <label asp-for="Theme">@T["Theme"]</label>
                <select asp-for="Theme" class="form-control col-sm-6">
                    <option value="">Select theme</option>
                    <option value="dark">Dark</option>
                    <option value="light">Light</option>
                </select>
                <span asp-validation-for="Theme"></span>
                <span class="hint">@T["Determines the appearance of Cookie Control."]</span>
            </div>
        </div>

        <div class="form-group row" asp-validation-class-for="ToggleType">
            <div class="col-lg">
                <label asp-for="ToggleType">@T["Toggle Type"]</label>
                <select asp-for="ToggleType" class="form-control col-sm-6">
                    <option value="">Select toggle type</option>
                    <option value="slider">Slider</option>
                    <option value="checkbox">Checkbox</option>
                </select>
                <span asp-validation-for="ToggleType"></span>
                <span class="hint">@T["Determines the control toggle for each optional cookie."]</span>
            </div>
        </div>

        <div class="form-group row" asp-validation-class-for="CloseStyle">
            <div class="col-lg">
                <label asp-for="CloseStyle">@T["Close Style"]</label>
                <select asp-for="CloseStyle" class="form-control col-sm-6">
                    <option value="">Select close style</option>
                    <option value="button">Button</option>
                    <option value="icon">Icon</option>
                    <option value="labelled">Labelled</option>
                </select>
                <span asp-validation-for="CloseStyle"></span>
                <span class="hint">@T["Determines the closing behaviour of the module."]</span>
            </div>
        </div>

        <div class="form-group row" asp-validation-class-for="SettingsStyle">
            <div class="col-lg">
                <label asp-for="SettingsStyle">@T["Settings Style"]</label>
                <select asp-for="SettingsStyle" class="form-control col-sm-6">
                    <option value="">Select settings style</option>
                    <option value="button">Button</option>
                    <option value="link">Link</option>
                </select>
                <span asp-validation-for="SettingsStyle"></span>
                <span class="hint">@T["Determines the closing behaviour of the module."]</span>
            </div>
        </div>
    </div>
</div>